<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>507045435530-cbjoks83m5gan71nv96dgnn378gm6c7b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.507045435530-cbjoks83m5gan71nv96dgnn378gm6c7b</string>
	<key>API_KEY</key>
	<string>AIzaSyAc_bxeHpaxhFWeVAcY_a1Va7pZwoBCb0g</string>
	<key>GCM_SENDER_ID</key>
	<string>507045435530</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.juststarted.app</string>
	<key>PROJECT_ID</key>
	<string>quizoid-8cbba</string>
	<key>STORAGE_BUCKET</key>
	<string>quizoid-8cbba.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:507045435530:ios:a6de960ff9616d2817b573</string>
	<key>DATABASE_URL</key>
	<string>https://quizoid-8cbba-default-rtdb.firebaseio.com</string>
</dict>
</plist>