<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>698496899409-coa92k6dr1sq42qdushu7tl3bqrco73v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.698496899409-coa92k6dr1sq42qdushu7tl3bqrco73v</string>
	<key>API_KEY</key>
	<string>AIzaSyBaM_1mpU8iGzSwlKojO7oFYreLx24C3mI</string>
	<key>GCM_SENDER_ID</key>
	<string>698496899409</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.quizoid</string>
	<key>PROJECT_ID</key>
	<string>demoapp-c516c</string>
	<key>STORAGE_BUCKET</key>
	<string>demoapp-c516c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:698496899409:ios:ee77ece600807822d21b70</string>
	<key>DATABASE_URL</key>
	<string>https://demoapp-c516c.firebaseio.com</string>
</dict>
</plist>